<div class="pull-right" style="padding-top: 5px;">
  <%= link_to 'Edit', edit_developer_path(@developer), :class => 'btn btn-default' %>
</div>
<h1><%= @developer.name %></h1>

<p>
  <strong>Loginid:</strong>
  <%= @developer.loginid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @developer.avatar.url %>
</p>
