<% content_for :javascripts do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href");

      var duration_selector_on = false;
      var edit_btn_on = false;

      switch(target) {
        case '#activity':
          duration_selector_on = true;
          edit_btn_on = false;
        break;
        case '#commits':
          duration_selector_on = true;
          edit_btn_on = false;
        break;
        case '#assignment':
          duration_selector_on = false;
          edit_btn_on = false;
        break;
        case '#calendar':
          duration_selector_on = false;
          edit_btn_on = false;
        break;
        case '#profile':
          duration_selector_on = false;
          edit_btn_on = true;
        break;
      }

      if(duration_selector_on) {
        $("#toolbar-controls #duration-selector").show();
      } else {
        $("#toolbar-controls #duration-selector").hide();
      }
      if(edit_btn_on) {
        $("#toolbar-controls #edit-btn").show();
      } else {
        $("#toolbar-controls #edit-btn").hide();
      }
    });
  });
</script>

<div class="header-btn-right" id="toolbar-controls">
  <div class="dropdown" style="float: left; padding-right: 10px;" id="duration-selector">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Show <%= @duration %> weeks
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <% [12, 24, 48, 96].each do |duration| %>
      <li role="presentation"><a style="<%= duration == @duration ? 'font-weight: bold;' : '' %>" role="menuitem" tabindex="-1" href="<%= developer_path(@developer) %>?duration=<%= duration %>">Show <%= duration %> weeks</a></li>
      <% end %>
    </ul>
  </div>

  <%= link_to 'Edit', edit_developer_path(@developer), :class => 'btn btn-default', id: 'edit-btn', style: 'display: none;' %>
</div>

<header class="section-title">
  <h3><%= image_tag gravatar_image_url(@developer.email, filetype: :png, rating: 'pg', size: 40, secure: true ), style: 'border-radius: 50%; float: left; margin-right: 1.0em; margin-top: -0.25em;', alt: @developer.name %> <%= @developer.name %></h3>
</header>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#activity" aria-controls="home" role="tab" data-toggle="tab">Activity</a></li>
  <li role="presentation"><a href="#commits" aria-controls="profile" role="tab" data-toggle="tab">Commits</a></li>
  <li role="presentation"><a href="#assignments" aria-controls="profile" role="tab" data-toggle="tab">Assignments</a></li>
  <li role="presentation"><a href="#calendar" aria-controls="settings" role="tab" data-toggle="tab">Calendar</a></li>
  <li role="presentation"><a href="#profile" aria-controls="settings" role="tab" data-toggle="tab">Profile</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="activity">
    <section>

    <style text="text/css">
      #progress {
        position: relative;
        padding: 3px;
      }
      #percent {
        position: absolute;
      }
      #bar {
        height: 20px;
        background-color: rgba(151,187,205,0.4);
      }
    </style>


    <div id="activity-graphs" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner" role="listbox" style="height: 120%;">
        <div class="item active">
          <div class="row">
            <div class="col-xs-8">
              <h3 class="sub-header">Commits Per Week</h3>
              <div>
                <canvas id="commits_canvas" height="175" width="500"></canvas>
              </div>
            </div>

            <div class="col-xs-4">
              <h3 class="sub-header">Commits By Project</h3>
              <ul style="list-style-type: none; padding: 0; margin: 0;">
                <% @recent_commits_by_project.each do |project| %>
                <li style="padding: 0; margin: 0;">
                  <div id="progress">
                    <span id="percent"><%= project[0] %> (<%= project[1] %>)</span>
                    <div id="bar" style="width: <%= ((project[1].to_f / @total_commit_count.to_f) * 100.0).to_i %>%"></div>
                  </div>
                </li>
                <% end %>
                <li style="padding: 0; margin: 0;">
                  <div style="text-align: center;">
                    <span><b>Total</b> (<%= @total_commit_count %>)</span>
                  </div>
                </li>
              </ul>
            </div>
          </div> <!-- .row -->
        </div>
        <div class="item">
          <div class="row">
            <div class="col-xs-8">
              <h3 class="sub-header">Lines Per Week</h3>
              <div>
                <canvas id="lines_canvas" height="175" width="500"></canvas>
              </div>
            </div>

            <div class="col-xs-4">
              <h3 class="sub-header">Lines By Project</h3>
              <ul style="list-style-type: none; padding: 0; margin: 0;">
                <% @recent_lines_by_project.each do |project| %>
                <li style="padding: 0; margin: 0;">
                  <div id="progress">
                    <span id="percent"><%= project[0] %> (<%= project[1] %>)</span>
                    <div id="bar" style="width: <%= ((project[1].to_f / @total_commit_count.to_f) * 100.0).to_i %>%"></div>
                  </div>
                </li>
                <% end %>
                <li style="padding: 0; margin: 0;">
                  <div style="text-align: center;">
                    <span><b>Total</b> (<%= @total_lines_count %>)</span>
                  </div>
                </li>
              </ul>
            </div>
          </div> <!-- .row -->
        </div>
      </div>

      <div style="text-align: center;">
        <a href="#" data-target="#activity-graphs" data-slide-to="0" class="active">By Commits</a> | <a href="#" data-target="#activity-graphs" data-slide-to="1">By Lines</a>
      </div>
    </div>

    <script type="text/javascript">
      var commitChartData = {
          labels : [
            <%= @recent_commits_graph.map{ |timestamp, commits| "'" + Date.commercial(timestamp.to_s[0..3].to_i, timestamp.to_s[4..-1].to_i, 7).strftime("%b %d, %y") + "'" }.join(",").html_safe %>
          ],
          datasets : [
            {
              label: "Commits",
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              data : [<%= @recent_commits_graph.map{ |timestamp, commits| commits }.join(",") %>]
            }
          ]
        }
      var lineChartData = {
          labels : [
            <%= @recent_lines_graph.map{ |timestamp, commits| "'" + Date.commercial(timestamp.to_s[0..3].to_i, timestamp.to_s[4..-1].to_i, 7).strftime("%b %d, %y") + "'" }.join(",").html_safe %>
          ],
          datasets : [
            {
              label: "Commits",
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              data : [<%= @recent_lines_graph.map{ |timestamp, lines| lines }.join(",") %>]
            }
          ]
        }
        ready = function() {
          var commits_ctx = document.getElementById("commits_canvas").getContext("2d");
          window.commitsChart = new Chart(commits_ctx).Line(commitChartData, {
            responsive: true
          });
          var lines_ctx = document.getElementById("lines_canvas").getContext("2d");
          window.linesChart = new Chart(lines_ctx).Line(lineChartData, {
            responsive: true
          });
        };
        $(document).ready(ready);
        $(document).on('page:load', ready);
        $('#activity-graphs').on('slid.bs.carousel', function () {
          $("#commits_canvas").width(500).height(175);
          $("#lines_canvas").width(500).height(175);
          ready();
        });
    </script>
    </section>
  </div> <!-- #activity -->

  <div role="tabpanel" class="tab-pane" id="commits">
    <section>
      <div class="table-responsive">
        <table class="table" style="margin-top: 15px;">
          <thead>
            <tr style="color: #fff; background-color: #373a3c;">
              <th>When</th>
              <th>Project</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <% @commits.group_by{ |c| c.committed_at.beginning_of_day }.each do |date, commits| %>
              <tr>
                <td colspan="3"><b><%= date.strftime("%A %B %d, %Y") %></b></td>
              </tr>
              <% commits.each do |commit| %>
                <tr>
                  <td style="border: none;"><%= commit.committed_at.strftime("%l:%M %p") %></td>
                  <td style="border: none;"><%= link_to commit.repository.project.name, commit.repository.project %></td>
                  <% link = "https://github.com/" + commit.repository.project.repositories.first.url + "/commit/" + commit.sha %>
                  <td style="border: none;"><a href="<%= link %>"><%= commit.message %></a></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <div role="tabpanel" class="tab-pane" id="assignments">
    <section>
      <div class="table-responsive">
        <table class="table" style="margin-top: 15px;">
          <thead>
            <tr style="color: #fff; background-color: #373a3c;">
              <th>Title</th>
              <th>Project</th>
              <th>Days Active</th>
            </tr>
          </thead>
          <tbody>
            <% @assignments.each do |assignment| %>
            <tr>
              <td><%= link_to assignment.task.title, assignment.task %></td>
              <td><%= assignment.task.project.name if assignment.task.project.present? %></td>
              <td><%= assignment.assigned_at.nil? ? "Unknown" : time_ago_in_words(assignment.assigned_at) + " ago" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <div role="tabpanel" class="tab-pane" id="calendar">
    <section>
      Calendar goes here
    </section>
  </div>
  <div role="tabpanel" class="tab-pane" id="profile">
    <section>
      Profile goes here
    </section>
  </div>
</div>
