<p id="notice"><%= notice %></p>

<div class="pull-right" style="padding-top: 5px;">
  <%= link_to 'Edit', edit_milestone_path(@milestone), :class => 'btn btn-default' %>
</div>
<h1 class="page-header"><%= @milestone.title %></h1>
<div class="pull-right" style="color: #666; font-weight: bold; <%= "color: red;" if @milestone.due_on && (@milestone.due_on <= Time.now) %>">
  <% if @milestone.due_on %>
    <%= @milestone.due_on > Time.now ? 'Due in ' : 'Past due by ' %><%= time_ago_in_words @milestone.due_on %>,
  <% else %>
    No due date,
  <% end %>
  <% if @milestone.tasks.count > 0 %><%= ((@milestone.tasks.open.count.to_f / @milestone.tasks.count.to_f) * 100.0).round(0) %>%
  <% else %>100%
  <% end %>
 complete
</div>
<h3>Description</h3>
<p>
  <% unless @milestone.description.blank? %>
  <%= @milestone.description %>
  <% else %>
  <i>None given.</i>
  <% end %>
</p>



<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#open_tasks" aria-controls="home" role="tab" data-toggle="tab">Open Tasks (<%= @milestone.tasks.open.count %>)</a></li>
    <li role="presentation"><a href="#closed_tasks" aria-controls="profile" role="tab" data-toggle="tab">Closed Tasks (<%= @milestone.tasks.closed.count %>)</a></li>
    <li role="presentation"><a href="#unscored_tasks" aria-controls="messages" role="tab" data-toggle="tab">Unscored Tasks (<%= @milestone.tasks.unscored.count %>)</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="open_tasks">
      <%= render 'open_tasks' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="closed_tasks">...</div>
    <div role="tabpanel" class="tab-pane" id="unscored_tasks">...</div>
  </div>

</div>
