<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @milestone.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<p>
  <strong>Due on:</strong>
  <%= @milestone.due_on %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @milestone.completed_at %>
</p>

<p>
  <strong>Gh milestone number:</strong>
  <%= @milestone.gh_milestone_number %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
