<% content_for :javascripts do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<!-- Data loader -->
<script type="text/json" id="bootstrap">
  {
    "tasks" : <%= @tasks.to_json %>
  }
</script>

<script type="text/javascript">
  // Load tasks JSON into Backbone collection 'Devboard.tasks'
  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());

  Devboard.tasks = new Devboard.Collections.Tasks(data.tasks);

  // Set up data specific to the assignments widget
  window.Devboard.assignmentsWidget = {};

  /* Set desired date of assignments view */
  window.Devboard.assignmentsWidget.time_to_view = '<%= @time_to_view.rfc822 %>';

  /* Set information about developers and their developer_account types */
  window.Devboard.developers = [];
  <% @developers.each do |developer| %>
    window.Devboard.developers.push(
      {
        id: <%= developer.id %>,
        accounts: [
          <% developer.accounts.each_with_index do |da, i| %>
            {
              id: <%= da.id %>,
              type: '<%= da.account_type %>'
            }<%= ',' unless i >= developer.accounts.length - 1 %>
          <% end %>
        ]
      }
    )
  <% end %>
</script>

<div class="assignments-widget">
    <header class="section-title">
        <h3>&nbsp;</h3>
        <div class="btn-group date-nav" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-nav="yesterday"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>

            <input class="btn btn-default date-picker">

            <button type="button" class="btn btn-default" data-nav="tomorrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
        <div class="timeline-header">
            <div class="developer-assignment-titles ">
                <h5>Developers</h5>
                <h5>Assignments</h5>
            </div>
            <div class="unassigned-task-title">
                <h5>Unassigned</h5>
            </div>
        </div>
    </header>

    <!-- timeline body -->
    <div class="timeline-body">
        <!-- developers -->
        <div class="developer-container">
            <div class="developer-section">
                <% @developers.each do |developer| %>
                    <div class="developer">
                        <%= gravatar_image_tag(developer.email, :alt => developer.name, :style => 'height: 35px; width: 35px; border-radius: 50%;')  %>
                            <div class="developer-name">
                                <%= link_to developer.name, developer %>
                            </div>
                    </div>
                    <% end %>
            </div>
        </div>

        <!-- assignment -->
        <div class="assignment-container">
          <div class="assignment-section">
            <% @developers.each do |developer| %>
              <div class="assignments-row connected-sortable" data-developer-id="<%= developer.id %>">

                  <% developer.assignments_at(@time_to_view).sort{ |x, y| x.sort_position <=> y.sort_position }.each do |assignment| %>
                      <% task = assignment.task %>
                      <div class="task <%= task.completed_at? ? " finished-task " : "assigned-task " %>" data-assignment-id="<%= assignment.id %>" data-task-id="<%= task.id %>" data-task-github="<%= task.github_enabled %>" data-sort-position="<%= assignment.sort_position %>">
                          <div class="flex-row">
                              <div class="task-title">
                                  <h5><%= task.project.present? ? link_to(task.project.name, task.project) : "No Project" %></h5>
                                  <p><%= link_to task.title, task %></p>
                              </div>
                              <div class="task-selection">
                                  <div class="task-selection-check-mark">
                                      <input type="checkbox" <%=task.completed_at? ? "checked" : "" %> / >
                                  </div>
                                  <div class="task-selection-github">
                                      <% if task.repository_id && task.gh_issue_number %>
                                        <%= link_to raw('<i class="fa fa-github-alt" aria-hidden="true"></i>'), link_to_github_issue(task.repository.url, task.gh_issue_number), :target => "_blank" %>
                                      <% end %>
                                  </div>
                              </div>
                          </div>
                      </div> <!-- .task -->
                  <% end %>

                  <!-- Start add new task -->
                  <div class="task hidden-task">
                      <!-- This is required for sorting developers with empty tasks -->
                  </div>
                  <div class="task empty-task" id="new-task-btn">
                      <i class="fa fa-plus add-user_icon" aria-hidden="true"></i>
                  </div>
                  <!-- End add new task -->
              </div>
            <% end %>
          </div>
        </div>
        <!-- assignments end -->

        <!-- unassigned task -->
        <div class="toolbar">
            <div class="tools">
                <div class="input-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                	    <i class="fa fa-filter" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#contains">IPA</a></li>
                        <li><a href="#its_equal">Devboard</a></li>
                        <li><a href="#greather_than">Roles Management</a></li>
                        <li><a href="#less_than">Wayfindings</a></li>
                        <li class="divider"></li>
                        <li><a href="#all">Clear</a></li>
                    </ul>
                    <input class="input-section" name="x" placeholder="Search..." type="text">
                </div>
            </div>
        </div>

        <div class="unassigned-task-container connected-sortable">
            <div class="margin-fix">
                <!-- this class fix bottom space issue in unassigned task container(Firefox only) -->
                <% @tasks.sort{ |x, y| x.sort_position <=> y.sort_position }.each do |task| %>
                    <div class="task assigned-task" data-task-id="<%= task.id %>" data-task-github="<%= task.github_enabled %>" data-sort-position="<%= task.sort_position %>">
                        <div class="flex-row">
                            <div class="task-title">
                                <h5><%= task.project.present? ? link_to(task.project.name, task.project) : "No Project" %></h5>
                                <p>
                                    <%= link_to task.title, task %>
                                </p>
                            </div>
                            <div class="task-selection">
                                <div class="task-selection-check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection-github">
                                    <% if task.repository_id && task.gh_issue_number %>
                                      <%= link_to raw('<i class="fa fa-github-alt" aria-hidden="true"></i>'), link_to_github_issue(task.repository.url, task.gh_issue_number), :target => "_blank" %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <!-- unassigned task ends -->
        </div>
        <!-- timeline body ends -->
    </div>
</div>
