<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Project</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @meeting_notes.each do |meeting_note| %>
      <tr>
        <td><%= link_to meeting_note.title, meeting_note %></td>
        <td><%= link_to meeting_note.project.name, meeting_note.project %></td>
        <td><%= link_to 'Edit', edit_meeting_note_path(meeting_note) %></td>
        <td><%= link_to 'Destroy', meeting_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'New Meeting Note', new_project_path, :class => 'btn btn-default' %>
