<section>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Project</th>
      <th>Taken</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @meeting_notes.each do |meeting_note| %>
      <tr>
        <td><%= link_to meeting_note.title, meeting_note %></td>
        <% if meeting_note.project.present? %>
          <td><%= link_to meeting_note.project.name, meeting_note.project %></td>
        <% else %>
          <td>No Project</td>
        <% end %>
        <td><%= time_ago_in_words(meeting_note.taken) %> ago</td>
        <td><%= link_to 'Destroy', meeting_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'New Meeting Note', new_meeting_note_path, :class => 'btn btn-default' %>
</section>
