<%= form_for(@task, :html => {:role => 'form'}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <% if @task.new_record? %>
    <div class="form-group">
      <%= f.hidden_field :creator_id, :value => current_user.developer.devboard_account.id %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :details %><br>
    <%= f.text_area :details, class: 'form-control' %>
  </div>

  <%= f.hidden_field :project_id %>

  <div class="form-group">
    <%= f.label :assignments, 'Assign To' %><br>
    <%= f.fields_for :assignments do |builder| %>
      <%= render "assignment_fields", :f => builder %>
    <% end %>
    <%= link_to_add_fields "Add", f, :assignments %>

  </div>
  <div class="form-group">
    <%= f.label :priority %><br>
    <select name="task[priority]">
      <option value="" <%= 'selected' if @task.priority.nil? %>></option>
      <option value="low_priority" <%= 'selected' if @task.low_priority? %>>Low Priority</option>
      <option value="normal_priority" <%= 'selected' if @task.normal_priority? %>>Normal Priority</option>
      <option value="high_priority" <%= 'selected' if @task.high_priority? %>>High Priority</option>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :difficulty %><br>
    <select name="task[difficulty]">
      <option></option>
      <% (1..10).each do |i| %>
      <%
        helper_txt = ""
        helper_txt = " - Very Easy" if i == 1
        helper_txt = " - Easy" if i == 3
        helper_txt = " - Average" if i == 5
        helper_txt = " - Somewhat Difficult" if i == 7
        helper_txt = " - Difficult" if i == 8
        helper_txt = " - Very Difficult" if i == 10
      %>
      <option value="<%= i %>" <%= 'selected' if @task.difficulty == i %>><%= i %> <%= helper_txt %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :duration, "Time Required (Estimate, hh:mm)" %><br>
    <select name="task[duration]">
      <option></option>
      <% (1..144).each do |i| %>
      <% hours = (i * 15) / 60 %>
      <% hours = '0' + hours.to_s if hours < 10 %>
      <% minutes = (i * 15) % 60 %>
      <% minutes = '0' + minutes.to_s if minutes < 10 %>
      <option value="<%= i * 15 %>" <%= 'selected' if @task.duration == (i * 15) %>><%= hours %>:<%= minutes %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group" id="points">
    <%= f.label :points %><br>
    <%= f.hidden_field :points %>
    <input type="button" value="Clear" class="btn btn-default btn-xs" onClick="tasks.clearTaskPoints()" />
    <% ['0.5', '1.0', '1.5', '2.0', '2.5', '3.0', '3.5', '4.0', '4.5', '5.0'].each do |points| %>
      <input id="set_points_<%= points.gsub('.', '') %>" type="button" value="<%= points %>" class="btn <%= 'btn-primary' if @task.points == points %> btn-default btn-xs" onClick="tasks.setTaskPoints(<%= points %>)" />
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :due %><br>
    <%= f.datetime_select :due, :include_blank => true %>
  </div>
  <div class="form-group">
    <input type="button" value="Clear" class="btn btn-default btn-xs" onClick="tasks.clearTaskDueDate()" />
    <input type="button" value="3 Days" class="btn btn-default btn-xs" onClick="tasks.setTaskDueDate(3)" />
    <input type="button" value="1 Week" class="btn btn-default btn-xs" onClick="tasks.setTaskDueDate(7)" />
    <input type="button" value="2 Weeks" class="btn btn-default btn-xs" onClick="tasks.setTaskDueDate(14)" />
    <input type="button" value="1 Month" class="btn btn-default btn-xs" onClick="tasks.setTaskDueDate(31)" />
    <input type="button" value="2 Months" class="btn btn-default btn-xs" onClick="tasks.setTaskDueDate(62)" />
    <input type="button" value="3 Months" class="btn btn-default btn-xs" onClick="tasks.setTaskDueDate(93)" />
  </div>
  <% if @task.new_record? and @task.project.present? and @task.project.repositories.size > 0 %>
  <div class="form-group">
    <%= f.label :create_github_issue, "Sync with GitHub" %><br>
    <%= collection_select(:repository , :repository_id, @task.project.repositories.all, :id, :url, { include_blank: true }) %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', @task.project, :class => 'btn btn-default' %>
  </div>
<% end %>
