<div class="pull-right" style="padding-top: 5px;">
  <%= link_to 'Edit', edit_task_path(@task), :class => 'btn btn-default' %>
</div>
<h1><%= @task.description %></h1>
<h2 class="page-header" style="color: #666;"><%= link_to @task.project.name, @task.project %></h2>

<p>
  <strong>Assigned to:</strong>
  <%= link_to @task.developer.name, @task.developer %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority.to_s.gsub(/_/, ' ').capitalize %>
</p>

<p>
  <strong>Due:</strong>
  <%= @task.due.nil? ? 'No due date' : @task.due.in_words %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed.nil? ? 'In progress' : @task.completed.in_words %>
</p>

<p>
  <strong>Link:</strong>
  <%= @task.link %>
</p>
