<div class="pull-right" style="padding-top: 5px;">
  <%= link_to 'Edit', edit_task_path(@task), :class => 'btn btn-default' %>
</div>

<h3 style="color: #888; margin-top: 0.75em;">Status: <%= @task.completed_at.nil? ? 'Open' : 'Closed' %></h3>
<h1><%= @task.title %></h1>
<% if @task.project %>
<h2 style="color: #666; margin-top: 0;"><%= link_to @task.project.name, @task.project %></h2>
<% else %>
<h2 style="color: #ccc;">(Not assigned to a project)</h2>
<% end %>

<% if @task.milestone %>
<h4 style="color: #666; margin-top: 0;"><%= link_to @task.milestone.title, @task.milestone %></h4>
<% else %>
<h4 style="color: #ccc;">(Not assigned to a milestone)</h4>
<% end %>

<hr />

<% if @task.gh_issue_number %>
  <% url = 'https://github.com/' + @task.repository.url + '/issues/' + @task.gh_issue_number %>
  <div style="float: right;">
    <%= link_to image_tag("GitHub-Mark-120px-plus.png", width: 35, alt: "View on GitHub"), url %>
  </div>
<% end %>

<p class="lead" style="margin-bottom: 5px; font-size: 1.5em;">
  Created by <%= (@task.creator) ? link_to(@task.creator.name, @task.creator) : "no one" %>,
  assigned to
  <% if @task.assignments.size > 0 %>
      <% @task.assignments.each do |assignment| %>
        <%= link_to(assignment.developer.name, assignment.developer)%>
        <%= "," unless assignment == @task.assignments.last %>
      <% end %>
  <% else %>
    <%= "no one" %>
  <% end %>.
</p>
<p class="lead" style="font-size: 1.0em;">
  <%= @task.priority.to_s.gsub(/_/, ' ').capitalize %>. <%= @task.due.nil? ? 'No due date' : "Due " + time_ago_in_words(@task.due) %>. <%= @task.completed_at.nil? ? 'Not completed yet' : "Completed " + time_ago_in_words(@task.completed_at) %>. <%= @task.points.nil? ? 'Not scored yet' : "Worth " + @task.points.round(1).to_s %> points.
</p>


<div style="margin: 1em;">
  <%= simple_format(@task.details) %>
</div>
