<div class="pull-right" style="padding-top: 5px;">
  <%= link_to 'Edit', edit_task_path(@task), :class => 'btn btn-default' %>
</div>
<h1><%= @task.title %></h1>
<h2 class="page-header" style="color: #666;"><%= link_to @task.project.name, @task.project %></h2>

<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<p>
  <strong>Assigned to:</strong>
  <% if @task.developer %>
  <%= link_to @task.developer.name, @task.developer %>
  <% else %>
  Nobody
  <% end %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority.to_s.gsub(/_/, ' ').capitalize %>
</p>

<p>
  <strong>GitHub Issue Number:</strong>
  <%= @task.gh_issue_number %>
</p>

<p>
  <strong>Due:</strong>
  <%= @task.due.nil? ? 'No due date' : time_ago_in_words(@task.due) %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed.nil? ? 'In progress' : time_ago_in_words(@task.completed) %>
</p>

<p>
  <strong>Link:</strong>
  <%= @task.link %>
</p>
