<header class="section-title">
  <h3>Developer Accounts</h3>
</header>
<section>
<div class="row tmp">
  <table class="table table-striped table-condensed">
    <thead>
      <th class="col-xs-5">E-mail</th>
      <th class="col-xs-5">Login ID</th>
      <th class="col-xs-2">Type</th>
      <th class="col-xs-5">Developer</th>
    </thead>
    <tbody>
      <% @developer_accounts.each do |developer_account| %>
        <tr>
          <td><%= developer_account.email %></td>
          <td><%= developer_account.loginid %></td>
          <td><%= developer_account.account_type %></td>
          <td><%= form_for developer_account do |f| %><%= f.select("developer_id", @developers.collect {|d| [ d.name, d.id ] }, { :include_blank => true }, :onChange => 'javascript:this.form.submit();' ) %><% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>
