<%= form_for(exception_report) do |f| %>
  <% if exception_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exception_report.errors.count, "error") %> prohibited this exception_report from being saved:</h2>

      <ul>
      <% exception_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exception_from_email_id %>
    <%= f.number_field :exception_from_email_id %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :gh_issue_id %>
    <%= f.number_field :gh_issue_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
