<p id="notice"><%= notice %></p>

<h1>Exception Reports</h1>

<div class="row" style="color: #fff; background-color: #373a3c; padding: 8px 0; margin-top: 8px; margin-bottom: 8px;">
  <h5 class="col-md-2">Project</h5>
  <h5 class="col-md-5">Subject</h5>
  <h5 class="col-md-2">Assignee</h5>
  <h5 class="col-md-3">Actions</h5>
</div>
<div class="row">
  <% @exception_reports.each do |exception_report| %>
  <div class="col-md-12" style="padding: 0; border-bottom: 1px solid #666; height:30px;">
    <h5 class="col-md-2"><%= exception_report.project.name %></h5>
    <h5 class="col-md-5"><%= link_to exception_report.subject, exception_report %></h5>
    <h5 class="col-md-2">
      <% if exception_report.task.present? %>
        <% exception_report.task.assignments.each do |assignment| %>
          <%= assignment.developer_account.developer_name %>
          <%= "," unless assignment == exception_report.task.assignments.last %>
        <% end %>
      <% end %>
    </h5>
    <h5 class="col-md-3">
      <%= link_to 'Destroy', exception_report, method: :delete, data: { confirm: 'Are you sure?' } %>
    </h5>
  </div>
  <% end %>
</div>
<br>
<%= render 'site/modal_add_task' %>

<%= link_to 'New Exception Report', new_exception_report_path %>
