<% content_for :javascripts do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<header class="section-title">
  <div class="header-btn-right">
    <button class="btn btn-default" data-toggle="modal" data-target="#add_exception_filter"><i class="fa fa-plus add-user_icon" aria-hidden="true"></i></button>
    <button id="mark-duplicate" class="btn btn-default"><i class="fa fa-files-o" aria-hidden="true"></i></button>
    <button id="delete" class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
  </div>

  <h3>Exception Reports</h3>
</header>

<section>
  <table id="exception-table" class="table" style="margin-top: 15px;">
    <thead>
      <tr style="color: #fff; background-color: #373a3c;">
        <th><!-- selected checkbox --></th>
        <th>Project</th>
        <th>Exception</th>
        <th>Age</th>
        <th>Assignee</th>
      </tr>
    </thead>
    <tbody>
      <% @exception_reports.order(:created_at => 'DESC').each do |exception_report| %>
      <tr class="table-row" data-exception-report-id="<%=exception_report.id%>">
        <td>
          <input type="checkbox" class="cb-email" />
        </td>
        <td>
          <% if exception_report.project.present? %>
            <%= link_to exception_report.project, exception_report.project %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td>
          <%= link_to exception_report.subject, exception_report %>
        </td>
        <td>
          <%= time_ago_in_words(exception_report.created_at).gsub(' ', '&nbsp;').html_safe %>
        </td>
        <td>
          <% if exception_report.task.present? %>
            <%= exception_report.task.assignments.map{|a| a.developer_account.developer_name}.join(', ') %>
            <%= "None" if exception_report.task.assignments.empty? %>
            <%= link_to "(Edit)", edit_task_path(exception_report.task) %>
          <% else %>
            <%= form_for :new_task, :url => 'exception_reports/new_task' do |form| %>
              <%= form.hidden_field :title, :value => exception_report.subject %>
              <%= form.hidden_field :details, :value => exception_report.body %>
              <%= form.hidden_field :id, :value => exception_report.id %>
              <%= form.submit "Convert To Task" %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<!-- Start notice for selecting original -->
<div class="exceptions-notice-regular">
  <span>Please select the original report</span>
</div>

<div class="exceptions-notice-confirm">
  <span>Please select the original report</span>
  <button id="cancel" class="btn btn-danger">Cancel</button>
</div>
<!-- End notice for selecting original -->

<%= render 'exception_reports/modal_add_exception_filter' %>
<%= render 'site/modal_add_task' %>
