<p id="notice"><%= notice %></p>

<h1>Exception Reports</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Gh issue</th>
      <th>Duplicate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exception_reports.each do |exception_report| %>
      <tr>
        <td><%= exception_report.project_id %></td>
        <td><%= exception_report.subject %></td>
        <td><%= exception_report.body %></td>
        <td><%= exception_report.gh_issue_id %></td>
        <td><%= exception_report.duplicate %></td>
        <td><%= link_to 'Show', exception_report %></td>
        <td><%= link_to 'Edit', edit_exception_report_path(exception_report) %></td>
        <td><%= link_to 'Destroy', exception_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exception Report', new_exception_report_path %>
