<p id="notice"><%= notice %></p>

<h1>Exception Reports</h1>

<div class="table-head">
  <h5 class="col-md-2">Project</h5>
  <h5 class="col-md-5">Subject</h5>
  <h5 class="col-md-2">Assignee</h5>
  <h5 class="col-md-3">Actions</h5>
</div>
<div class="table-content">
  <% @exception_reports.each do |exception_report| %>
  <div class="table-row">
    <h5 class="col-md-2 table-cell">
      <%= exception_report.project.present? ? exception_report.project.name : "" %>
    </h5>
    <h5 class="col-md-5 table-cell"><%= link_to exception_report.subject, exception_report %></h5>
    <h5 class="col-md-2 table-cell">
      <% if exception_report.task.present? %>
        <% exception_report.task.assignments.each do |assignment| %>
          <%= assignment.developer_account.developer_name %>
          <%= "," unless assignment == exception_report.task.assignments.last %>
        <% end %>
      <% end %>
    </h5>
    <h5 class="col-md-3 table-cell">
      <%= link_to 'Destroy', exception_report, method: :delete, data: { confirm: 'Are you sure?' } %>
    </h5>
  </div>
  <% end %>
</div>
<br>
<%= render 'site/modal_add_task' %>

<%= link_to 'New Exception Report', new_exception_report_path %>
