<p id="notice"><%= notice %></p>

<h1>Exception Reports</h1>

<table style="width:100%">
  <thead>
    <tr style="color: #fff; background-color: #373a3c;">
      <th style="width:10%;">Project</th>
      <th style="width:50%;">Subject</th>
      <!-- <th>Body</th> -->
      <!-- <th>Gh issue</th> -->
      <th style="width:20%;">Assignee</th>
      <th>Duplicate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exception_reports.each do |exception_report| %>
      <tr>
        <td><%= exception_report.project.name %></td>
        <td><%= link_to exception_report.subject, exception_report %></td>
        <!-- <td><%= exception_report.body %></td> -->
        <!-- <td><%= exception_report.gh_issue_id %></td> -->
        <td><%=  %></td>
        <td><%= exception_report.duplicate %></td>
        <!-- <td><%= link_to 'Show', exception_report %></td> -->
        <!-- <td><%= link_to 'Edit', edit_exception_report_path(exception_report) %></td> -->
        <td><%= link_to 'Destroy', exception_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exception Report', new_exception_report_path %>
