<header class="section-title">
  <h3>
      <%= @exception_report.subject %>
  </h3>

  <% if @exception_report.project.present? %>
    <h3>
        <%= link_to @exception_report.project.name, @exception_report.project %>
    </h3>
  <% end %>

  <% if @exception_report.task.present? %>
    <h3>
        <%= link_to "Task", @exception_report.task %> assigned to
        <%= @exception_report.task.assignments.map{|a| a.developer_account.developer_name}.join(', ') %>
    </h3>
  <% end %>
</header>
<section>
    <div class="tmp">
        <p>
          <strong>Email from <%= @exception_report.email_from %> </strong>
        </p>
        <p>
            <%= @exception_report.body %>
        </p>
    </div>
</section>
