<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><!-- completed checkbox --></th>
        <th><!-- priority icon --></th>
        <th>Summary</th>
        <th>Points</th>
        <th>Created By</th>
        <th>Assigned To</th>
        <th>Created</th>
        <th>Due</th>
      </tr>
    </thead>
    <tbody>
      <%
        if show_open
          tasks = @sprint.milestone.tasks.open.order(:created_at => 'DESC')
        else
          tasks = @sprint.milestone.tasks.closed.order(:created_at => 'DESC')
        end
      %>
      <% tasks.each do |task| %>
      <tr>
        <td>
          <input type="checkbox" onClick="setTaskCompleted(<%= task.id %>, this)" <%= 'checked' unless task.completed_at.blank? %> />
        </td>
        <td style="color: #666;">
          <%= '<span class="glyphicon glyphicon-chevron-down"></span>'.html_safe if task.low_priority? %>
          <%= '<span class="glyphicon glyphicon-minus"></span>'.html_safe if task.normal_priority? %>
          <%= '<span class="glyphicon glyphicon-chevron-up"></span>'.html_safe if task.high_priority? %>
        </td>
        <td><%= link_to task.title, task %></td>
        <td><%= task.points.nil? ? "<span style='color: #666;'>N/A</span>".html_safe : task.points %></td>
        <td>
          <% if task.creator.nil? or task.creator.developer.nil? %>
            Unknown
          <% else %>
            <%= link_to task.creator.developer.name, task.creator %>
          <% end %>
        </td>
        <td>
          <% if task.assignment.nil? %>
            No one assigned
          <% else %>
          <%= link_to task.assignment.developer_account.developer ? task.assignment.developer_account.developer.name : 'DeveloperAccount #' + task.assignment.developer_account.id.to_s, task %>
          <% end %>
        </td>
        <td><%= task.created_at.strftime("%b %e, %Y") %></td>
        <td><%= task.due.nil? ? 'No Due Date' : time_ago_in_words(task.due) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div> <!-- .table-responsive -->
