<% content_for :javascripts do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<div class="section-title">
    <h3>Open Sprints</h3>
</div>

<p id="notice">
    <%= notice %>
</p>
<section>
    <div class="tmp">
        <table class="table">
            <tbody>
                <% @sprints.where(:finished_at => nil).each do |sprint| %>
                    <tr valign="top">
                        <td style="padding-bottom: 1.5em;">
                            <h3 style="margin-top: 0;">
                                <%= link_to sprint.milestone.title, sprint %>
                            </h3>
                            <h6>
                                <%= link_to sprint.milestone.project.name, sprint.milestone.project, :style => 'color: #000;' %>
                            </h6>
                            <p>
                                <%= sprint.milestone.description %>
                            </p>
                        </td>
                        <td style="color: #666; <%= " color: red; " if sprint.milestone.due_on && (sprint.milestone.due_on <= Time.now) %>">
                            <%= sprint.milestone.due_on ? sprint.milestone.due_on.strftime("%B %-d, %Y") : '<i>No due date</i>'.html_safe %><br />
                                <%= sprint.milestone.tasks.count > 0 ? ((sprint.milestone.tasks.open.count.to_f / sprint.milestone.tasks.count.to_f) * 100.0).round(0) : '100' %>% complete
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>

        <%= link_to 'Start New Sprint', new_sprint_path, :class => 'btn btn-primary' %>
    </div>
</section>
