<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <select name="project[status]">
        <option value="planning" <%= 'selected' if @project.planning? %>>Planning</option>
        <option value="in_development" <%= 'selected' if @project.in_development? %>>In Development</option>
        <option value="pilot_testing" <%= 'selected' if @project.pilot_testing? %>>Pilot Testing</option>
        <option value="in_production" <%= 'selected' if @project.in_production? %>>In Production</option>
        <option value="cancelled" <%= 'selected' if @project.cancelled? %>>Cancelled</option>
        <option value="on_hold" <%= 'selected' if @project.on_hold? %>>On Hold</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :began %><br>
    <%= f.date_select :began %>
  </div>
  <div class="field">
    <%= f.label :finished %><br>
    <%= f.date_select :finished, {:include_blank => true, :default => nil}  %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <select name="project[priority]">
        <option value="low_priority" <%= 'selected' if @project.low_priority? %>>Low Priority</option>
        <option value="normal_priority" <%= 'selected' if @project.normal_priority? %>>Normal Priority</option>
        <option value="high_priority" <%= 'selected' if @project.high_priority? %>>High Priority</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
