<div class="pull-right" style="padding-top: 20px;">
  <div class="dropdown" style="float: left; padding-right: 10px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Show <%= @duration %> days
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <% [7, 14, 21, 28].each do |duration| %>
        <li role="presentation">
          <a style="<%= duration == @duration ? 'font-weight: bold;' : '' %>" role="menuitem" tabindex="-1" href="<%= root_path() %>?duration=<%= duration %>">
            Show <%= duration %> days
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<header class="section-title">
  <h3>Assignments</h3>
</header>

<div class="assignments-widget">
    <div class="timeline-section">
        <div class="timeline-section_title">
            <h5 style="flex: 0 1 20%;">Developers</h5>
            <h5 style="flex: 0 1 80%;">Active Tasks</h5>
        </div>
        <div style="flex: 0 1 80%; display: flex;">
            <div class="developer-section">
                <div class="developer">
                    <%= image_tag('lloyd.png', style: 'height: 35px;')%>
                        <span class="developer_name"><strong>Lloyd Wheeler</strong></span>
                </div>
                <div class="developer">
                    <%= image_tag('Chris.png', style: 'height: 35px;')%>
                        <span class="developer_name"><strong>Christopher Thielen</strong></span>
                </div>
                <div class="developer">
                    <%= image_tag('Obada.png', style: 'height: 35px;')%>
                        <span class="developer_name"><strong>Obada Kadri</strong></span>
                </div>
                <div class="developer">
                    <%= image_tag('Mark.png', style: 'height: 35px;')%>
                        <span class="developer_name"><strong>Mark Diez</strong></span>
                </div>
                <div class="developer">
                    <%= image_tag('Shang.png', style: 'height: 35px;')%>
                        <span class="developer_name"><strong>Shang Lu</strong></span>
                </div>
            </div>

            <div class="assignment">
                <div class="assignment_section">
                    <div class="assignment_section_task finished-task">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assignment_section_task ipa-task">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assignment_section_task empty-task flex-30 flex-row_center" data-toggle="modal" data-target="#add_task">
                        <div class="flex-auto" style="align-self: center;">
                            <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                        </div>
                    </div>
                </div>
                <div class="assignment_section">
                    <div class="assignment_section_task finished-task flex-70">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assignment_section_task ipa-task flex-30">
                        <div class="flex-row ">
                            <div class="assignment_section_task-title ">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection ">
                                <div class="task-selection_check-mark ">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github ">
                                    <i class="fa fa-github-alt " aria-hidden="true "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="assignment_section ">
                    <div class="assignment_section_task finished-task flex-20">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assignment_section_task finished-task flex-20">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assignment_section_task finished-task flex-30">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assignment_section_task ipa-task flex-30">
                        <div class="flex-row ">
                            <div class="assignment_section_task-title ">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection ">
                                <div class="task-selection_check-mark ">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github ">
                                    <i class="fa fa-github-alt " aria-hidden="true "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="assignment_section">
                    <div class="assignment_section_task finished-task flex-60">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assignment_section_task ipa-task flex-40">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="assignment_section ">
                    <div class="assignment_section_task finished-task flex-60">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assignment_section_task finished-task flex-20">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection_github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assignment_section_task empty-task flex-20 flex-row_center" data-toggle="modal" data-target="#add_task">
                        <div class="flex-auto" style="align-self: center;">
                            <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- add new developer -->
        <div class="flex-row">
            <div class="flex-20">
                <button type="button" class="btn btn-info btn_add-user" data-toggle="modal" data-target="#addUserModal">+ New Developer</button>
            </div>
            <div class="pagination">
                <div class="pagination_button">
                    < Before </div>
                        <div class="pagination_button">
                            Today
                        </div>
                        <div class="pagination_button">
                            Future >
                        </div>
                </div>
            </div>
        </div>
        <!-- add new developer ends-->
        <!-- unassigned task sidebar -->
        <div class="unassigned-tasks flex-20">
            <div class="unassigned-tasks_header ">
                <h5>Upcoming</h5>
            </div>
            <div class="unassigned_section_task ipa-unassigned_task">
                <div class="flex-row ">
                    <div class="assignment_section_task-title ">
                        <h5>ipa-client-angular</h5>
                        <p>Shared activities</p>
                    </div>
                    <div class="assignment_section_task-selection ">
                        <div class="task-selection_check-mark ">
                            <input type="checkbox">
                        </div>
                        <div class="task-selection_github ">
                            <a href="#"><i class="fa fa-github-alt " aria-hidden="true "></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unassigned_section_task ipa-unassigned_task">
                <div class="flex-row ">
                    <div class="assignment_section_task-title ">
                        <h5>ipa-client-angular</h5>
                        <p>Shared activities</p>
                    </div>
                    <div class="assignment_section_task-selection ">
                        <div class="task-selection_check-mark ">
                            <input type="checkbox">
                        </div>
                        <div class="task-selection_github ">
                            <a href="#"><i class="fa fa-github-alt " aria-hidden="true "></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unassigned_section_task ipa-unassigned_task">
                <div class="flex-row ">
                    <div class="assignment_section_task-title ">
                        <h5>ipa-client-angular</h5>
                        <p>Shared activities</p>
                    </div>
                    <div class="assignment_section_task-selection ">
                        <div class="task-selection_check-mark ">
                            <input type="checkbox">
                        </div>
                        <div class="task-selection_github ">
                            <a href="#"><i class="fa fa-github-alt " aria-hidden="true "></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unassigned_section_task ipa-unassigned_task">
                <div class="flex-row ">
                    <div class="assignment_section_task-title ">
                        <h5>ipa-client-angular</h5>
                        <p>Shared activities</p>
                    </div>
                    <div class="assignment_section_task-selection ">
                        <div class="task-selection_check-mark ">
                            <input type="checkbox">
                        </div>
                        <div class="task-selection_github ">
                            <a href="#"><i class="fa fa-github-alt " aria-hidden="true "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- unassigned task sidebar ends -->
    </div>

    <%= render 'site/modal_add_user' %>

    <%= render 'site/modal_add_task' %>

</div>
<!-- test ends -->
