<div class="pull-right" style="padding-top: 20px;">
    <div class="dropdown" style="float: left; padding-right: 10px;">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <% [7, 14, 21, 28].each do |duration| %>
                <li role="presentation">
                    <a style="<%= duration == @duration ? 'font-weight: bold;' : '' %>" role="menuitem" tabindex="-1" href="<%= root_path() %>?duration=<%= duration %>">
            Show <%= duration %> days
          </a>
                </li>
                <% end %>
        </ul>
    </div>
</div>

<header class="section-title">
    <h3>Assignments</h3>
</header>

<div class="assignments-widget">
    <div class="timeline">
        <div class="developer-container col-md-3">
            <div class="timeline-title">
                <h5><strong>Developers</strong></h5>
            </div>
            <div class="developer-section">
                <div class="developer">
                    <%= image_tag('lloyd.png', style: 'height: 35px;')%>
                        <span class="developer-name">Lloyd Wheeler</span>
                </div>
                <div class="developer">
                    <%= image_tag('Chris.png', style: 'height: 35px;')%>
                        <span class="developer-name">Christopher Thielen</span>
                </div>
                <div class="developer">
                    <%= image_tag('Obada.png', style: 'height: 35px;')%>
                        <span class="developer-name">Obada Kadri</span>
                </div>
                <div class="developer">
                    <%= image_tag('Mark.png', style: 'height: 35px;')%>
                        <span class="developer-name">Mark Diez</span>
                </div>
                <div class="developer">
                    <%= image_tag('Shang.png', style: 'height: 35px;')%>
                        <span class="developer-name">Shang Lu</span>
                </div>
            </div>
        </div>
        <!-- assignment -->
        <div class="assignment-container col-md-6">
            <div class="timeline-title">
                <h5><strong>Assigned Tasks</strong></h5>
            </div>
            <div>
                <div class="assignment float-none">
                    <div class="assignment-section">
                        <div class="assignment-section-task finished-task">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task assigned-task">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                            <div class="flex-auto text-center">
                                <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                            </div>
                        </div>
                    </div>
                    <div class="assignment-section">
                        <div class="assignment-section-task finished-task">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task assigned-task">
                            <div class="flex-row ">
                                <div class="assignment-section-task-title ">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection ">
                                    <div class="task-selection-check-mark ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github ">
                                        <i class="fa fa-github-alt " aria-hidden="true "></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                            <div class="flex-auto text-center">
                                <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                            </div>
                        </div>
                    </div>
                    <div class="assignment-section">
                        <div class="assignment-section-task finished-task">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task finished-task flex-20">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task finished-task">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task assigned-task">
                            <div class="flex-row ">
                                <div class="assignment-section-task-title ">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection ">
                                    <div class="task-selection-check-mark ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github ">
                                        <i class="fa fa-github-alt " aria-hidden="true "></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                            <div class="flex-auto text-center">
                                <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                            </div>
                        </div>
                    </div>
                    <div class="assignment-section">
                        <div class="assignment-section-task finished-task">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task assigned-task">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                            <div class="flex-auto text-center">
                                <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                            </div>
                        </div>
                    </div>
                    <div class="assignment-section ">
                        <div class="assignment-section-task finished-task">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task finished-task">
                            <div class="flex-row">
                                <div class="assignment-section-task-title">
                                    <h5>ipa-client-angular</h5>
                                    <p>Shared activities</p>
                                </div>
                                <div class="assignment-section-task-selection">
                                    <div class="task-selection-check-mark">
                                        <input type="checkbox">
                                    </div>
                                    <div class="task-selection-github">
                                        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assignment-section-task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                            <div class="flex-auto text-center">
                                <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- assignment -->
        <!-- upcoming -->
        <div class="upcoming-assignment-container col-md-3">
            <div class="upcoming-sidebar">
                <div class="unassigned-tasks-header ">
                    <h5>Upcoming</h5>
                </div>
                <div class="unassigned-task">
                    <div class="flex-row ">
                        <div class="assignment-section-task-title ">
                            <h5>ipa-client-angular</h5>
                            <p>Shared activities</p>
                        </div>
                        <div class="assignment-section-task-selection ">
                            <div class="task-selection-check-mark ">
                                <input type="checkbox">
                            </div>
                            <div class="task-selection-github ">
                                <a href="#"><i class="fa fa-github-alt " aria-hidden="true "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="assignment-section-task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                    <div class="flex-auto text-center">
                        <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- upcoming ends -->
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-info btn-add-user" data-toggle="modal" data-target="#addUserModal">+ New Developer</button>
        </div>
        <div class="pagination col-md-9">
            <div class="col-md-3">
                <div class="pagination-button">
                    <a><i class="fa fa-arrow-left" aria-hidden="true"></i>Before</div></a>
                </div>
                <div class="col-md-6">
                    <div class="pagination-button">
                        Today
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pagination-button">
                        <a>Future<i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
        </div>

        <%= render 'site/modal_add_user' %>

            <%= render 'site/modal_add_task' %>

    </div>