<h2 class="sub-header">Developers</h2>
<div class="row placeholders">
    <% @developers.each do |developer| %>
        <div class="col-xs-6 col-sm-3 placeholder">
          <%= link_to image_tag(developer.avatar.url, :alt => "Avatar for #{developer.name}"), developer %>
          <h4><%= developer.name %></h4>
          <span class="text-muted">
            <% if developer.tasks.active.count > 0 %>
            <%= developer.tasks.active.first.project.name %>
            <% else %>
            No assignments
            <% end %>
          </span>
        </div>
    <% end %>
</div>

<h2 class="sub-header">Activity</h2>
<div class="table-responsive">
<table class="table table-striped">
  <tbody>
    <% @activities.each do |activity| %>
    <tr>
      <td><%= activity_to_s(activity) %></td>
      <td><%= time_ago_in_words(activity.when) %> ago</td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
