<div class="pull-right" style="padding-top: 20px;">
  <div class="dropdown" style="float: left; padding-right: 10px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Show <%= @duration %> days
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <% [7, 14, 21, 28].each do |duration| %>
        <li role="presentation">
          <a style="<%= duration == @duration ? 'font-weight: bold;' : '' %>" role="menuitem" tabindex="-1" href="<%= root_path() %>?duration=<%= duration %>">
            Show <%= duration %> days
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<header class="section-title">
  <h3>Assignments</h3>
</header>

<div class="assignments-widget">
    <div class="timeline-section">
        <div class="timeline-section_title">
            <h5 style="flex: 0 1 20%;">Developers</h5>
            <h5 style="flex: 0 1 80%;">Active Tasks</h5>
        </div>
        <div style="flex: 0 1 80%; display: flex;">
            <div class="developer-section">
              <% @developers.each do |developer| %>
                <div class="developer">
                  <%= gravatar_image_tag(developer.email, :alt => developer.name, :style => 'width: 35px; height: 35px; border-radius: 50%;')%>
                  <span class="developer_name"><strong><%=developer.name%></strong></span>
                </div>
              <% end %>
            </div>

            <div class="assignment">
              <% @developers.each do |developer| %>
                <div class="assignment_section ">
                    <% developer.assignments.each do |assignment| %>
                    <% task = assignment.task %>
                    <div class="assignment_section_task ipa-task flex-20">
                        <div class="flex-row">
                            <div class="assignment_section_task-title">
                                <h5><%= task.project.name %></h5>
                                <p><%= task.title %></p>
                            </div>
                            <div class="assignment_section_task-selection">
                                <div class="task-selection_check-mark">
                                    <input type="checkbox">
                                </div>
                                <% if task.repository.present? %>
                                  <div class="task-selection_github">
                                    <%= link_to raw('<i class="fa fa-github-alt" aria-hidden="true"></i>'), "http://github.com/" + task.repository.url  %>
                                  </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
                    <!-- Adding this part messes with the CSS -->
                    <!-- TODO: Fix the CSS so that developers and their task are aligned regardless of the height of the assignment section -->
                    <!-- <div class="assignment_section_task empty-task flex-30 flex-row_center" data-toggle="modal" data-target="#add_task">
                        <div class="flex-auto" style="align-self: center;">
                            <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                        </div>
                    </div> -->
                </div>
              <% end %>
            </div>
        </div>
        <!-- add new developer -->
        <div class="flex-row">
            <div class="flex-20">
                <button type="button" class="btn btn-info btn_add-user" data-toggle="modal" data-target="#addUserModal">+ New Developer</button>
            </div>
            <div class="pagination">
                <div class="pagination_button">
                    < Before </div>
                        <div class="pagination_button">
                            Today
                        </div>
                        <div class="pagination_button">
                            Future >
                        </div>
                </div>
            </div>
        </div>
        <!-- add new developer ends-->
        <!-- unassigned task sidebar -->
        <div class="unassigned-tasks flex-20">
            <div class="unassigned-tasks_header ">
                <h5>Upcoming</h5>
            </div>

            <% @tasks.each do |task| %>
              <div class="unassigned_section_task ipa-unassigned_task">
                  <div class="flex-row ">
                      <div class="assignment_section_task-title ">
                          <h5><%= task.project.name %></h5>
                          <p><%= task.title %></p>
                      </div>
                      <div class="assignment_section_task-selection ">
                          <div class="task-selection_check-mark ">
                              <input type="checkbox">
                          </div>

                          <% if task.repository.present? %>
                            <div class="task-selection_github ">
                              <%= link_to(raw('<i class="fa fa-github-alt " aria-hidden="true "></i>'), "http://github.com/" + task.repository.url, :target => "_blank") %>
                            </div>
                          <% end %>

                      </div>
                  </div>
              </div>
            <% end %>
        <!-- unassigned task sidebar ends -->
    </div>

    <%= render 'site/modal_add_user' %>

    <%= render 'site/modal_add_task' %>

</div>
<!-- test ends -->
