<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title><%= content_for?(:title) ? yield(:title) : "Devboard" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Devboard" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
        <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
        <%= render 'layouts/messages' %>
        
        <div class="container-fluid">
          <div class="row">
            <% if authenticated? %>
              <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                  <% { 'Overview' => overview_url, 'Projects' => projects_url, 'Developers' => developers_url, 'Export' => '#' }.each do |text, url| %>
                  <% if (controller_name == text.downcase) or (controller_name == 'site' and text.downcase == 'overview') %>
                    <li class="active"><a href="<%= url %>"><%= text %></a></li>
                  <% else %>
                    <li><a href="<%= url %>"><%= text %></a></li>
                  <% end %>
                  <% end %>
                </ul>
                <ul class="nav nav-sidebar">
                  <li><a href="">Meeting Notes</a></li>
                  <li><a href="">Design Documents</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                  <li><a href="">Best Practices</a></li>
                  <li><a href="">Useful Links</a></li>
                </ul>
              </div>
            <% end %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <%= yield %>
            </div>
          </div>
        </div>
    </main>
  </body>
</html>
